.footer {
  background-color: $main-color;

  &.container {
    padding-bottom: 30px;
  }
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  padding: 0 10px;
}

.footer__nav-right {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.footer__nav-item {
  padding: 3px 0;
}

.footer__nav-item--link {
  text-decoration: none;
  color: $white;
}
