.footer {
  background-color: $white;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.footer__nav-item {
  padding: 3px 0;
}

.footer__nav-item--link {
  text-decoration: none;
  color: $main-color;
}
