.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  height: 160px;
  margin: 10px 30px;
}

.hero-description__wrapper {
  max-width: 800px;
  text-align: center;
  padding: 0 20px;
}
